<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <!--网段配置-->
    <add key="ifAtSamePC" value="True"/>
    <add key="ifAtSameLAN" value="True"/>
    <add key="netAdapterName" value="unknown"/>
    <!--服务器IP地址配置-->
    <add key="serverIPAtSameLAN" value="192.168.1.13"/>
    <add key="serverIPAtWAN" value="202.120.48.24"/>
    <!--设备号配置-->
    <add key="clientDeviceIndex" value="1"/>
    <!--TCP时间配置-->
    <add key="tcpTransferSocketSendTimeOut" value="500"/>
    <add key="tcpTransferSocketInterval" value="1000"/>
    <!--UDP时间配置-->
    <add key="udpTransferSocketSendMaxTimeOut" value="5000"/>
    <add key="udpTransferSocketSendTimeOut" value="3000"/>
    <!--队列间隔时间配置-->
    <add key="sleepMsForQueueSend" value="10"/>
    <!--弹窗尺寸配置-->
    <add key="titleSize" value="18"/>
    <add key="messageSize" value="22"/>
  </appSettings>
</configuration>